# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

# Sensitive or large raw files
*.xlsx
*.zip